.wd-icon-center {
    vertical-align: middle;
    margin-top: 10px;
    position: relative;
    float: right;
}

.wd-image-rounded {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
}

.wd-image-small {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    position: relative;
    float: right;
}

.wd-font-small {
    font-size: 14px;
}

.wd-form-control {
    width: 90%;
    height: 35px;
    text-indent: 50px;
    background: white;
}

.btn-primary.override-bs {
    border-radius: 20px;
    margin-top: 12px;
}

.btn-primary.override-bs-2 {
    border-radius: 20px;
    width: 80px;
    position: relative;
    float: right;
}