.fg-color-white { color: white }
.fg-color-blue-highlight { color: rgb(29, 161, 242) }
.fg-color-non-highlight { color: rgb(110, 118, 125) }

.bg-color-darkgray { color: darkgray }
.bg-color-black { background: black }

body {
    background: black;
}

.wd-color-light-gray {
    color: rgb(47, 51, 54);
}

.wd-remove-underscore {
    text-decoration: none;
}

.wd-padding-top {
    padding-top: 12px;
}

.wd-offset-left {
    position: relative;
    left: 16px;
}

.wd-rounded-borders {
    border-radius: 50px;
}

.wd-float-right {
    float: right;
}

.wd-float-left {
    float: left;
}